@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";

:root {
  font-family: "Anuphan", sans-serif;
  line-height: 1.5;
  font-weight: 200;

  background-image: url("./assets/watashi_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* background: #7700ff;
  background: linear-gradient(90deg, rgba(119, 0, 255, 1) 10%, rgba(255, 0, 0, 1) 90%); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center; /* ตรงกลางแนวนอน */
  align-items: start; /* เริ่มด้านบนแนวตั้ง */
}

#app {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
}
