@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  font-family: "Anuphan", sans-serif;
  line-height: 1.5;
  font-weight: 200;

  background-image: url("./assets/watashi_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
}

#app {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  text-align: center;
}
