@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Anuphan", sans-serif;
  line-height: 1.5;
  font-weight: 200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #c00707;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, transparent 50%, rgba(0, 0, 0, 0.92) 100%), #c00707;
  background-attachment: fixed;
}

#app {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  text-align: center;
}

select {
  -webkit-appearance: none;
  appearance: none;
}
