@import "tailwindcss";

:root {
  font-family: "Anuphan", sans-serif;
  line-height: 1.5;
  font-weight: 200;

  background-image: url("./assets/koiiro-summer-bg2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center; /* ตรงกลางแนวนอน */
  align-items: start;      /* เริ่มด้านบนแนวตั้ง */
}

#app {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  text-align: center;
}
